<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/fruits/<%= fruits._id %>/edit?_method=PUT" method="POST">
	Name: <input type="text" name="name" value="<%= fruits.name %>"><br><br>
	Color: <input type="text" name="color" value="<%= fruits.color %>"><br><br>
	Ready to Eat?: <input type="checkbox" name="readyToEat"
	<% if (fruits.readyToEat === true){ %>
		checked="on"
	<% } %>
	><br><br>
	<button type="submit">Submit</button>
</form>
</body>
</html>