body {
  background-color: #C9283E;
  color: #2E112D;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
body p {
  margin: 0;
}
body a {
  color: #2E112D;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
